@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

:root {
  --cold: #1378ae;
  --super-cold: #1332ae;
  --hot: #c9af5a;
  --super-hot: #b9503d;
  --medium-temperature: #40cc94;
  --white: #ffffff;
  --black: #242121;
}
